* {
    /*
    inconsolata
    fira code
    */
}
/* 
 * Color references
 *
 * https://www.viget.com/articles/color-contrast/
 * https://coolors.co/contrast-checker/ffffff-000000
 * https://coolors.co/3b6064-092235
 * https://www.thoughtco.com/contrasting-foreground-background-colors-4061363
 */
:root {
    --color-background: black;
    --color-primary: #00f060;
    /*--color-secondary: lightgreen;*/
    --color-secondary: #ffc000;
    /*--color-secondary: #00ff80;*/
    --color-accent: #40ff80;
    /*--color-accent: darkgreen;*/
    /*
    --color-background: black;
    --color-primary: #1e90ff;
    --color-secondary: lightblue;
    --color-accent: darkblue;

    background: black;
    _background: #083045;
    _color: blue;
    _color: #cfba58;
    _color: yellow;
    _color: #13156;
    _color: jet;
    _color: #373d3f;
    _color: raven;
    color: white;
    _color: #ffffff;
    _color: #eed369;
    _color: #cfba58; // cr color
    _color: #161616; // cr background
    _color: lightgreen;
    */
}

/**
 * Overall layout
 */
body {
    background: var(--color-background);
    color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    font-family: "DejaVu Sans Mono", sans-serif,  monospace;
}

header,
footer {
    flex-basis: 100%;
    flex-shrink: 0;
}

footer {
    text-align: center;
    /*
    position: fixed;
    bottom: 10px;
    */
}

header nav {
    display: flex;
    justify-content: space-between;
}

article {
    flex-basis: 75%;
}

body > nav {
    flex-basis: content;
    min-width: 10em;
}

.article {
    width: 90%;
}

#sidebar {
    width: 10%;
}

/** end layout **/

.subtitle {
    font-size: small;
    color: var(--color-secondary);
}

strong {
    color: var(--color-secondary);
}

/**
 * anchor links
a:link {
  color: greenyellow;
}

a:visited {
  color: var(--color-secondary);
}
 */
a {
    color: var(--color-secondary);
    /*text-decoration-line: underline;*/
}
header a:hover,
nav a:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
    /*color: var(--color-accent);*/
}

header a,
nav a {
    text-decoration: underline;
}

/* table formatting */
table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid green;
}

th:first-child,
td:first-child {
    border-right: 1px solid green;
}

th, td {
  letter-spacing: 2px;
  padding: 20px;
}

tbody td {
  text-align: center;
}

td:not(:empty):not(:first-child) {
    background: var(--color-secondary);
    color: var(--color-background);
}
/* colors
 * https://www.canva.com/colors/color-wheel/
#00ff00
#00ff80
#80ff00

#0080FF
#FF00FF
#FF8000
*/

/*
a:hover {
  color: hotpink;
}

a:active {
  color: blue;
} 
*/

/**
 * not used
 */
.left {
}

.right {
}

.flex {
    display: flex;
}

